<app-orbit-list [satellites]="displayList"></app-orbit-list>
<div class="search-form">
    <input #searchTerm (keyup.enter)="search(searchTerm.value)"/>
    <button (click)="search(searchTerm.value)">Search with Name</button>
</div>
<div class="search-form">
    <input #searchTermOrbitType (keyup.enter)="searchOrbitType(searchTermOrbitType.value)"/>
    <button (click)="searchOrbitType(searchTermOrbitType.value)">Search with Orbit Type</button>
</div>
<div class="search-form">
    <input #searchTermType (keyup.enter)="searchType(searchTermType.value)"/>
    <button (click)="searchType(searchTermType.value)">Search with Type</button>
</div>
<app-orbit-counts [satellites]="displayList"></app-orbit-counts>

