.search-form {
    margin-bottom: 40px;
}

button {
    font-style: italic;
    margin-left: 10px;
    color: rgb(32, 43, 27);
    background-color: #ecea62;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 18px;
    cursor: pointer;
}