.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: #111;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #cee7e2;
}

.header-row {
    background: #3e4b3a;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}
tr:nth-child(1n+2){
    background-color: rgb(228, 200, 177);
}
tr:nth-child(2n+2){
    background-color: rgb(174, 194, 159);
}
h3{
    color: rgb(233, 96, 47);
}